

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">affiche-recette-regime</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button routerLink="/alimentation" fill="clear"> Retour</ion-button>

  <ion-grid>
    <ion-row>
      <ion-col>
    <ion-card class="magazine" routerLink="/affiche-recette-pays">
      <ion-card-header>
        <ion-card-title>Sans gluten</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
    <ion-card-content>
      Éliminer le gluten signifie éviter le blé, l'orge, 
      le seigle et d'autres céréales et aliments contenant 
      du gluten (ou qui peuvent avoir été contaminés de 
      manière croisée).
    </ion-card-content>
      
    </ion-card>
  </ion-col>
  </ion-row>
  <ion-row>
  <ion-col>
    <ion-card  class="alimentation" >
      <ion-card-header>
        <ion-card-title>Cétogène</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Le régime céto est davantage basé sur le rapport 
        entre les graisses, les protéines et les glucides 
        dans l’alimentation plutôt que sur des ingrédients
         spécifiques. De manière générale, les aliments 
         riches en graisses et en protéines sont acceptables,
          contrairement aux aliments riches en glucides. La 
          formule que nous utilisons contient 55 à 80 % de 
          matières grasses, 15 à 35 % de protéines et moins 
          de 10 % de glucides.
      </ion-card-content>
     
      
    </ion-card>
  </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
  <ion-card class="magazine">
    <ion-card-header>
      <ion-card-title>Végétarien</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Aucun ingrédient ne peut contenir de viande ou de 
      sous-produits de viande, tels que des os ou de la 
      gélatine.
    </ion-card-content>
  
    
  </ion-card>
</ion-col>
</ion-row>
<ion-row>
<ion-col>
  <ion-card  class="alimentation" >
    <ion-card-header>
      <ion-card-title>Lacto-Végétarien</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Tous les ingrédients doivent être végétariens et 
      aucun des ingrédients ne peut être ou contenir 
      des œufs.
    </ion-card-content>
   
    
  </ion-card>
</ion-col>
</ion-row>
<ion-row>
  <ion-col>
<ion-card class="magazine">
  <ion-card-header>
    <ion-card-title>Ovo-Végétarien</ion-card-title>
    <ion-card-subtitle></ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    Tous les ingrédients doivent être végétariens et 
    aucun des ingrédients ne peut être ou contenir 
    des produits laitiers.
  </ion-card-content>

  
</ion-card>
</ion-col>
</ion-row>
<ion-row>
<ion-col>
<ion-card  class="alimentation" >
  <ion-card-header>
    <ion-card-title>Végétalien</ion-card-title>
    <ion-card-subtitle></ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    Aucun ingrédient ne peut contenir de viande ou 
    de sous-produits de viande, tels que des os ou 
    de la gélatine, ni des œufs, des produits 
    laitiers ou du miel.
  </ion-card-content>
 
  
</ion-card>
</ion-col>
</ion-row>
<ion-row>
  <ion-col>
<ion-card class="magazine">
  <ion-card-header>
    <ion-card-title>Pescétarien</ion-card-title>
    <ion-card-subtitle></ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    Tout est autorisé sauf la viande et les 
    sous-produits de viande - certains 
    pescétariens mangent des œufs et des 
    produits laitiers, d'autres non.
  </ion-card-content>

  
</ion-card>
</ion-col>
</ion-row>
<ion-row>
<ion-col>
<ion-card  class="alimentation" >
  <ion-card-header>
    <ion-card-title>Paléo</ion-card-title>
    <ion-card-subtitle></ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    Les ingrédients autorisés comprennent la 
    viande (en particulier nourrie à l'herbe), 
    le poisson, les œufs, les légumes, certaines
     huiles (par exemple l'huile de noix de coco
      et d'olive) et, en plus petites quantités,
       les fruits, les noix et les patates douces.
        Nous autorisons également le miel et le 
        sirop d'érable (populaires dans les desserts
         paléo, mais les adeptes stricts du paléo 
         peuvent ne pas être d'accord). Les ingrédients
          non autorisés comprennent les légumineuses 
          (par exemple les haricots et les lentilles),
           les céréales, les produits laitiers, le sucre
            raffiné et les aliments transformés.
  </ion-card-content>
 
  
</ion-card>
</ion-col>
</ion-row>
<ion-row>
  <ion-col>
<ion-card class="magazine">
  <ion-card-header>
    <ion-card-title>Primitif</ion-card-title>
    <ion-card-subtitle></ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    Très similaire au Paléo, sauf que les produits
     laitiers sont autorisés - pensez au lait cru
      et entier, au beurre, au ghee, etc.
  </ion-card-content>

  
</ion-card>
</ion-col>
</ion-row>
<ion-row>
<ion-card  class="alimentation" >
  <ion-card-header>
    <ion-card-title>Faible en FODMAP</ion-card-title>
    <ion-card-subtitle></ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    FODMAP signifie « oligo-, di-, mono-saccharides 
    et polyols fermentescibles ». Notre ontologie 
    sait quels aliments sont considérés comme riches
     en ces types de glucides (par exemple les légumineuses,
      le blé et les produits laitiers)
  </ion-card-content>
 
  
</ion-card>

</ion-row>
<ion-row>
  <ion-col>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Entier30</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Les ingrédients autorisés comprennent la viande,
         le poisson/fruits de mer, les œufs, les légumes, 
         les fruits frais, l'huile de noix de coco, l'huile d'olive,
          de petites quantités de fruits secs et les noix/graines. 
          Les ingrédients non autorisés comprennent les édulcorants ajoutés
           (naturels et artificiels, à l'exception de petites quantités de jus
            de fruits), les produits laitiers (sauf le beurre clarifié ou le ghee),
             l'alcool, les céréales, les légumineuses (à l'exception des haricots 
             verts, des pois mange-tout et des pois mange-tout) et les additifs 
             alimentaires. , comme le carraghénane, le MSG et les sulfites.
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
  </ion-grid>
</ion-content>
