<ion-content [fullscreen]="true" class="centrer-contenu">
  <br><br>
  <div class="backgrounds">
  <img src="../../assets/image/shifai.png" class="circle">
  <h1 class="primary">Shifai</h1>
  <br><br>
  <h3 class="primary">Votre sante entre vos mains</h3>
  <br><br>
  <ion-button color="blue-dark" routerLink="/home-avant-compte">Découvrez nos services</ion-button>
  <br><br>  <br><br>
  <p class="white">Si vous étes un medecin </p>
  <ion-button color="orange-new" routerLink="/homemedecin">Version Pro</ion-button>
</div>
</ion-content>



