<ion-header >
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="centrer-contenu">
  <ion-header collapse="condense">
    <ion-toolbar>
<ion-title>Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <br> <br> <br>
  <br> <br>
  <p>Pour profiter de nos services veuillez créer un compte ou vous connecter </p>
  <br> <br>
  <ion-button routerLink="/home">
    se connecter ou bien creer un compte 
  </ion-button>
</ion-content>
<ion-footer collapse="fade">
  <ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline" routerLink="/home-avant-compte"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button tab="radio">
        <ion-icon name="calendar-outline" routerLink="/tabs/tab2"></ion-icon>
        Rendez-vous
      </ion-tab-button>
      <ion-tab-button tab="search">
        <ion-icon name="pin-outline" routerLink="/tabs/tab3"></ion-icon>
        A remplir
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
</ion-footer>
