<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Formulaire</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="fermerFormulaire.emit()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <form [formGroup]="myForm" >
      <!-- Champs Prénom -->
      <ion-item>
        
        <ion-input formControlName="prenom" label="Prénom"></ion-input>
      </ion-item>
      
      <ion-item>
        
        <ion-input formControlName="nom" label="Nom"></ion-input>
      </ion-item>
      
      <ion-item>
        
        <ion-input formControlName="numero" label="Numéro"></ion-input>
      </ion-item>
      
      <ion-item>
        
        <ion-input formControlName="gmail" label="Gmail"></ion-input>
      </ion-item>
      
      <ion-item>
        
        <ion-input formControlName="password" type="password" label="Password"></ion-input>
      </ion-item>
      
      
      
  
      <ion-button expand="full" type="submit" (click)="enregistrerSecretaire()">Soumettre</ion-button>

    </form>
  </ion-content>
  