

<ion-content [fullscreen]="true">
  <br>
  <div>
    <img  class="logo-icon">
    <ion-button class="right" fill="clear" routerLink="/login"><ion-icon name="person-circle-outline" ></ion-icon></ion-button>
  </div>
  <p><b>&nbsp;&nbsp;&nbsp;Vous chercher.....</b></p>
  <div class="wrapper">
   
    <div class="item">
        <ion-card color="primary" routerLink="/alimentation">
          <ion-card-header>
            <ion-card-title>pharmacie</ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>
      <div class="item">
  <ion-card color="primary" >
    <ion-card-header>
      <ion-card-title>hopital</ion-card-title>
    </ion-card-header>
  </ion-card>
</div>
<div class="item">
  <ion-card color="primary" >
    <ion-card-header>
      <ion-card-title>clinique</ion-card-title>
    </ion-card-header>
  </ion-card>
</div>
<div class="item">
  <ion-card color="primary" routerLink="/recherche-medicament">
    <ion-card-header>
      <ion-card-title>medicament</ion-card-title>
    </ion-card-header>
  </ion-card>
</div>
<div class="item">
  <ion-card color="primary" >
    <ion-card-header>
      <ion-card-title >laboratoire</ion-card-title>
    </ion-card-header>
  </ion-card>
</div>
</div>
<ion-grid>
  <ion-row>
    <ion-col>
  <ion-card class="magazine">
    <ion-card-header>
      <ion-card-title>Mon actu'sante</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    
  </ion-card>
</ion-col>
<ion-col>
  <ion-card  class="alimentation" >
    <ion-card-header>
      <ion-card-title>Mon alimentation</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
   
    
  </ion-card>
</ion-col>
</ion-row>
</ion-grid>
<div class="backgrounds">
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<p class="texte"><b>Si vous voulez beneficier de nos autres services : 
  créez un compte tout de suite !!!</b>
</p>
</div>
</ion-content>

