<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="center">parametre-secretaire</ion-title>
    <ion-button slot="start" routerLink="/parametre-med">Retour</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">parametre-secretaire</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngIf="secretaire">
    <ion-card-header>
      <ion-card-title>Informations du secrétaire</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Nom: {{ secretaire.nom }}</p>
      <p>Prénom: {{ secretaire.prenom }}</p>
      <!-- Ajoutez d'autres champs selon vos besoins -->
    </ion-card-content>
  </ion-card>

  <br><br>
  <ion-button class="right" (click)="afficherFormulaireModal()">Ajouter secrétaire</ion-button>
</ion-content>
