<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/tab1">Retour</ion-button>
    </ion-buttons>
    <ion-title>Mes Médicaments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">medicament</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1>Liste de Médicaments</h1>
  <ion-button class="right" (click)="openMedicamentFormModal()">Ajouter un médicament</ion-button>

  <ion-modal #myModal>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="dismissModal()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>Ajouter un Médicament</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <!-- Charger dynamiquement le contenu du formulaire -->
      <ng-container *ngComponentOutlet="medicamentFormComponent"></ng-container>
    </ion-content>
  </ion-modal>
<!-- Dans votre fichier HTML du composant Angular -->
<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Dosage</th>
      <th>Prise</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <!-- Utilisez *ngFor pour itérer sur le tableau de médicaments -->
    <tr *ngFor="let medicament of medicaments">
      <td>{{ medicament.nom }}</td>
      <td>{{ medicament.dosage }}</td>
      <td>
        <!-- Affichez les prises sous forme de texte (par exemple, "Matin, Midi, Soir") -->
        {{ medicament.prise.join(', ') }}
      </td>
      <td>
        <!-- Ajoutez des boutons pour la modification et la suppression -->
        <button (click)="modifierMedicament(medicament)">Modifier</button>
        <button (click)="supprimerMedicament(medicament.id)">Supprimer</button>
      </td>
    </tr>
  </tbody>
</table>


</ion-content>
