
<ion-content>
  
  <div class="header">
    <ion-button slot="start">Retour</ion-button>
    <h2>Profil</h2>
    <div class="space-between">
      <div class="followings">
        <ion-badge color="primary" mode="ios">42</ion-badge>
        <p>Rendez-vous</p>
      </div>
      <div class="followings">
        <ion-badge color="primary" mode="ios">42</ion-badge>
        <p>a nommer</p>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="box-border">
      <div class="border-white">
        <div class="img-box">
          <img class="circle" src="assets\image\profilIMG.png">
        </div>
      </div>
    </div>
  </div>
</ion-content>