.header {
    height: 180px;
    background-color: #E97712;
    width: 100%;
    padding-top: 1px;
}
.header h2 {
    color: white;
    text-align: center;
    font-weight: bold;
}
.space-between {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
}
.followings {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.followings p {
    color: white;
    margin: 8px 0px 0px 0px;
}
.img-box {
    border-radius: 50%;
    overflow: hidden;
    height: 130px;
    width: 130px;
}
.border-white {
    border: white solid 4px;
    border-radius: 50%;
    width: fit-content;
}
.border-blue {
    border: 7px solid #006bbf;
    border-radius: 50%;
    width: fit-content;
}
.flex {
    display: flex;
    justify-content: center;
    margin-top: -76px;
}
.ion-color-orange-new {
	--ion-color-base: var(--ion-color-orange-new);
	--ion-color-base-rgb: var(--ion-color-orange-new-rgb);
	--ion-color-contrast: var(--ion-color-orange-new-contrast);
	--ion-color-contrast-rgb: var(--ion-color-orange-new-contrast-rgb);
	--ion-color-shade: var(--ion-color-orange-new-shade);
	--ion-color-tint: var(--ion-color-orange-new-tint);
}
.circle{
    width: 130px;
    height: 130px;
    border-radius: 50% 50% 50% 50%;
  }