<ion-header>
  <ion-toolbar>

    <ion-button slot="start" (click)="back()">
      Retour
    </ion-button>

    <ion-title >Connexion</ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content>

    <ion-grid>
      <ion-row >
        <ion-col >
          <div class="ion-text-center">
            <br><br><br>
            <h4 class="warning">Login Form Medecin</h4>
          </div>
          <br><br><br><br><br><br>
          <div class="form">
            <ion-item>
              <ion-input placeholder="Enter email" type="email" [(ngModel)]="email">

                <ion-icon name="mail-outline">
                </ion-icon>
              </ion-input>
            </ion-item>
            <br>
            <form>
            <ion-item>
              <ion-input placeholder="Enter password" type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">

                <ion-icon name="lock-closed-outline"></ion-icon>
              </ion-input>
            </ion-item>
          </form>
            <br>
          </div>
          <div>
            
            <ion-button (click)="onLoginMedecin()" size="large" expand="block" shape="round" color="success">Login</ion-button>
            <ion-button routerLink="/forgotpass" fill="clear" class="danger">
              Forgot Password
            </ion-button>
            
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

