<ion-header>
  <ion-toolbar>
    <ion-title>Personne</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openrdvModal()">Suivant</ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button (click)="close()">Fermer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-select [(ngModel)]="selectedDate">
    <ion-select-option *ngFor="let date of generateDateList()" [value]="date">
      {{ date | date: 'dd/MM/yyyy' }}
    </ion-select-option>
  </ion-select>

  <div *ngFor="let hour of workHours">
    <ion-button (click)="toggleSelection(hour, selectedDate)">{{ hour }}</ion-button>
  </div>

  <div class="modal-buttons">
    <ion-button expand="block" color="primary" (click)="openrdvModal()">Sélectionner une heure</ion-button>
  </div>
</ion-content>
