<ion-content [fullscreen]="true" >
  
    <br><br>
    <ion-button routerLink="/home-avant-compte" fill="clear"> Retour</ion-button>
  
<p class="ecrit">Découvrez une multitude de recette !!</p>

<br>
<p>&nbsp;&nbsp;Rechercher une recette selon .....</p>

  <ion-grid>
    <ion-row>
      <ion-col>
    <ion-card class="magazine" routerLink="/affiche-recette-pays">
      <ion-card-header>
        <ion-card-title>Le pays</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
    
      
    </ion-card>
  </ion-col>
  </ion-row>
 <ion-row>
  <ion-col>
    <ion-card  class="alimentation" routerLink="/affiche-recette-regime">
      <ion-card-header>
        <ion-card-title>Le régime alimentaire</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
     
      
    </ion-card>
  </ion-col>
 </ion-row>
 
  <ion-row>
    <ion-col>
  <ion-card class="magazine">
    <ion-card-header>
      <ion-card-title>Les intolérances</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    
  </ion-card>
</ion-col>
</ion-row>
<ion-row>
  <ion-col>
  <ion-card  class="alimentation" >
    <ion-card-header>
      <ion-card-title>Les équipements</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
   
    
  </ion-card>
</ion-col>
</ion-row>
<ion-row>
  <ion-col>
<ion-card class="magazine">
  <ion-card-header>
    <ion-card-title>Le type</ion-card-title>
    <ion-card-subtitle></ion-card-subtitle>
  </ion-card-header>

  
</ion-card>
</ion-col>
</ion-row>
<ion-row>
  <ion-col>
<ion-card  class="alimentation" >
  <ion-card-header>
    <ion-card-title>Le tri</ion-card-title>
    <ion-card-subtitle></ion-card-subtitle>
  </ion-card-header>
 
  
</ion-card>
</ion-col>
</ion-row>
  </ion-grid>

</ion-content>
