

<ion-content [fullscreen]="true">
<div class="backgrounds">
  <ion-button routerLink="/home-principal" fill="clear" class="left"> ← Retour</ion-button>
  <br><br><br><br><br><br>
  <img src="../../assets/image/shifai.png" class="circle">
  <br><br><br>
  <ion-grid class="ion-padding ion-text-center">
    <ion-row>
      <ion-col align-self-center>
        <div class="title">
          <h2 class="orange">Bienvenue</h2>
          <br><br><br>
        </div>
        <ion-button routerLink="/login-medecin" expand="block" >
          Connexion
        </ion-button>
        <span class="divider line one-line ">or</span>
        <ion-button routerLink="/signup-medecin" fill="clear">
          Inscription
        </ion-button>
      </ion-col>
    </ion-row>
   </ion-grid>
   </div>
</ion-content>
